@import "../../app.scss";

.parallax{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 100px;

        @include desktop{
            font-size: 150px;
            text-align: center;
        }
        @include tablet{
            font-size: 100px;
            text-align: center;
        }
        @include mobile{
            font-size: 55px;
            text-align: center;
        }

    }

    .mountains{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 3;

        @include desktop{
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include tablet{
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }


    }

    .planets{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 2;

        @include desktop{
            background-size: contain;
            background-repeat:no-repeat;
        }
        @include tablet{
            background-size: contain;
            background-repeat:no-repeat;
        }

        @include mobile{
            background-size: contain;
            background-repeat:no-repeat;
        }

    }

    .stars{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        z-index: 1;
    }
}