@import "../../app.scss";

.contact{
    margin: auto;
    height: 100%;
    max-width: 1366px;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile{
        padding: 10px;
        width: 100%;
        flex-direction: column;
    }

    
    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile{
          margin-top: 70px;
          text-align: center;
          align-items: center;
        }

        h1{
            font-size: 90px;
            line-height: 80px;

            @include mobile{
                font-size: 35px;
            }
        }

        span{
            font-weight: 300;
        }
    }

    .form{
        flex: 1;
        position: relative;

        @include mobile{
            padding: 50px;
            width: 100%;
        }

        .svg{
            margin: auto;
            position: absolute;
            stroke: orange;
            fill: transparent;
            z-index: -1;

            svg{
                @include mobile{
                    max-width: 200px;
                }
            }

        }
       
        form{
             display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 10px;
                color: white;

                @include mobile{
                    padding: 10px;
                }

            }

            button{
                padding: 20px;
                border: none;
                border-radius: 10px;
                font-weight: 700;
                background-color: orange;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
                text-transform: uppercase;

                @include mobile{
                    padding: 10px;
                }


            }
        }

       

    }
}